@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
body{
    font-family: 'Roboto', sans-serif;  
    line-height: 1.4;
}
a{
    text-decoration: none;
    color: #fff;

}
/* Utilities Classes */
.container{
    padding: 1rem 1rem;
    overflow: hidden;
    margin: auto;
    max-width: 1100px;
}
.text-primary{
    color: #93cb52;
}

.l-leading{
    font-size: 4rem;
    margin-bottom: 0.75rem;
    line-height: 1;
}
.m-leading{
    font-size: 2rem;
    margin-bottom: 0.75rem;
}
.lead{
    font-size: 1.3rem;
    margin-bottom: 2rem;
}
.btn{
    padding: 0.5rem 2rem;
    background:#93cb52;
    border-radius: 5px;
    border: none;
}
.btn:hover{
    background:#72a03e;
}

.bg-light{
    background: #f4f4f4;
}
.bg-primary{
    background:#93cb52;
}
/* Navbar */

#navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:#fff;
    background: #333;
    padding: 1rem;
    position: sticky;
    top:0;
    z-index: 1;

}

#navbar ul{
    list-style: none;
    display: flex;
}
#navbar ul a{
    color: #fff;
    padding: 0.75rem;
    margin: 0 0.25rem;
}
#navbar ul a:hover{
    background:#93cb52;
    border-radius: 5px;
}

/* Showcase */
#home{
    background: #444 url("../img/showcase.jpg") no-repeat center center/cover;
    height: 100vh;
    color:#fff;
    position: relative;
    
}

#home .showcase-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    padding: 0 2rem;
    
    /* overlayer */
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background-color: rgba(0,0,0,0.3);
}

/* what */
#what{
    color: #333;
    
}

#what .m-leading{
    text-align: center;

}
#what .items{
    display: flex;
    justify-content: center;
    padding: 1rem;

}
#what .items .item{
    text-align: center;
    margin:1rem;
    flex:1;
}
#what .items .item i{
    
    background:#93cb52;
    padding:1rem;
    border-radius: 50%;
    margin-bottom: 1rem;
}
#what .items .item  h3{
    margin-bottom: 1rem;
}

/* section who */

#who{
    display: flex;
    background: #333;
}

#who div{
    flex:1;
    flex-basis: 50%;
}

#who #who-img{
    background: url('../img/people.jpg') no-repeat center center/cover;
}

#who #who-content{
    color: #fff;
    padding:2rem;
}
#who #who-content p, #who #who-content h3 {
    margin: .75rem 0;
}
#who #who-content ul{
    list-style: none;
}

#who #who-content ul li {
    padding: 0.5rem 0;
    border-bottom: #444 dotted 1px;
}

#clients h2{
    text-align: center;
}

#clients .items{
    display: flex;
}

#clients .items img{
    display: block;
    margin:auto;
    width: 60%;

}

/* contacts */

#contact{
    display: flex;
    
}
#contact .contact-form{
    color: #fff;
    padding: 2rem;
}
#contact .contact-form, 
#contact #map{
    flex:1;
}
#contact p{
    margin-bottom: 0.75rem;
}


.form-group input, #form-group label, textarea{
    display: block;
    width:100%;
}
.form-group{
    padding: .5rem;
}
.form-group input , textarea{
    padding: 0.5rem;
    border-radius: 3px;
    border:none;
}
.form-group .btn{
    background: #333;
    color:white;
}
.form-group .btn:hover{
    background: #444;
}
#contact #map{
    background: url('../img/map.png') no-repeat center center/cover;
    
}

/* footer */
#footer{
    background: #333;
    color: #fff;
    text-align: center;
}